.tablesContainer {
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3px;
    scroll-behavior: smooth;
    margin: 10px 0;

    .addTableBtn{
        position: relative;
        border: none;
        background-color: #F5C6AA;
        height: 40px;
        width: 40px;
        border-radius: 5px 0 0 5px;
        text-align: center;
        color: white;
        border-left: 2px solid #faab7d;
        transition: all .3s ease;
        user-select: none;

        span {
            height: 40px;
            width: 100%;
            display: block;
            line-height: 125%;
            text-align: center;
            font-size: 2rem;
            cursor: pointer;
            transition: transform .5s;
        }

        &:hover {
            color: #fb8947;
            background-color: #f9d9c6;
        }
    }

    .activeDropDownBtn {
        transform: rotate(45deg) scale(1.2);
        color: rgb(186, 61, 33);

    }

    .tableItemsContainer {
        width: 100%;
        height: 100%;
        background-color: #F8E2CF;
        padding: 0 5px;
        display: flex;
        align-items: center;
        gap: 5px;
        overflow-x: auto;
        overflow-y: hidden;
        border-left: 2px solid #faab7d;
        border-right: 2px solid #faab7d;

        &::-webkit-scrollbar {
            width: 0;
            height: 2px;
            background-color: #F5F5F5;
        }
        &::-webkit-scrollbar-track {
            background-color: #e7b072;
        }
        &::-webkit-scrollbar-thumb {
            border-radius: 10px;
            background-color: #96652d;
        }
    }
}

.addTableBtnDropDown {
    transition: width .2s ease-in-out, opacity .3s ease-in-out, visibility .5s ease-in-out;
    color: white;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: auto;
    background-color: #fcba93;
    font-size: 1rem;
    border-radius: 5px;
    position: absolute;
    top: calc(100% + 5px);
    left: -2px;
    padding: 5px;

    input {
        width: 100%;
    }

    textarea {
        width: 100%;
        height: 30px;
        resize: vertical;
        padding: 3px 5px;
    }

    & > * {
        visibility: hidden;
    }
}

.addTableBtnDropDownOpen {
    & > * {
        visibility: visible;
    }
    visibility: visible;
    width: 200px;
    opacity: 1;
}
