.currentTable {
    width: 100%;
    background-color: white;
    font-family: Arial, Helvetica, sans-serif;
    border-collapse: collapse;

    tr:nth-child(even){background-color: #f7e8ce;}

    th {
        padding-top: 12px;
        padding-bottom: 12px;
        background-color: #e4cb9e;
        border: 1px solid white !important;
        color: rgb(51, 47, 19);
    }

    tr:hover {
        background-color: rgb(216, 210, 194);
        td {
            border-color: white;
        }
    }

    td, th {
        border: 1px solid rgb(196, 195, 195);
        padding: 8px;
        text-align: center;

        *{
            width: 100%;
        }
    }
}

.newRowForm {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin: 10px 0;

    
    input {
        height: 25px;
        padding-left: 3px;
        &:focus {
            outline: none;
        }
    }

    input[type="submit"] {
        width: 40px;
        padding: 0;
        background-color: #00c99d;
        border: none;
        border-radius: 3px;
        text-align: center;
        margin: 0 calc(50% - 20px);
        cursor: pointer;

        &:hover {
            background-color: #30d6b2;
        }
    }
}
