.currentTableContainer {
  max-width: 100vw;
  overflow-x: auto;
  overflow-y: hidden;
}

.currentTable {
  width: 100%;
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}
.currentTable thead, .currentTable tbody {
  width: 100% !important;
}
.currentTable tbody tr {
  position: relative;
}
.currentTable tr:nth-child(even) {
  background-color: #f7e8ce;
}
.currentTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  background-color: #e4cb9e;
  border: 1px solid white !important;
  color: rgb(51, 47, 19);
}
.currentTable tr {
  height: 36px;
}
.currentTable tr:hover {
  background-color: rgb(216, 210, 194);
}
.currentTable tr:hover td {
  border-color: white;
}
.currentTable td, .currentTable th {
  border: 1px solid rgb(196, 195, 195);
  padding: 8px;
  text-align: center;
}
.currentTable td *, .currentTable th * {
  width: 100%;
}
.currentTable td:last-child {
  padding-right: 15px;
}

.newRowForm {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  margin: 10px 0;
}
.newRowForm input {
  height: 25px;
  padding-left: 3px;
}
.newRowForm input:focus {
  outline: none;
}
.newRowForm input[type=submit] {
  width: 40px;
  padding: 0;
  background-color: #00c99d;
  border: none;
  border-radius: 3px;
  text-align: center;
  margin: 0 calc(50% - 20px);
  cursor: pointer;
}
.newRowForm input[type=submit]:hover {
  background-color: #30d6b2;
}

.deleteRowBtn {
  width: 15px !important;
  position: absolute;
  right: 3px;
  top: 0;
  bottom: 0;
  border: none !important;
  background-color: transparent;
  font-weight: bold;
  font-size: 1rem;
  color: rgb(251, 62, 93);
  cursor: pointer;
  height: 36px;
  line-height: 20px;
  text-align: center;
  transition: all 0.2s ease-in-out;
}
.deleteRowBtn:hover {
  color: red;
  transform: scale(1.3);
}

.tableSettings {
  position: relative;
  width: 18px;
  margin-top: 25px;
  overflow: visible;
}
.tableSettings:hover .gearIcon {
  transform: rotate(100deg);
}
.tableSettings:hover .tableSettingsMenu {
  visibility: visible;
  opacity: 1;
  width: 90px;
}
.tableSettings svg {
  color: rgb(51, 47, 19);
  cursor: pointer;
  font-size: 18px;
}
.tableSettings .gearIcon {
  transition: transform 0.3s ease-in-out;
}
.tableSettings .tableSettingsMenu {
  transition: opacity 0.4s ease-out, width 0.3s ease-out, visibility 0.3s ease-out;
  overflow: hidden;
  display: block;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  background-color: #e4cb9e;
  border-radius: 3px;
  bottom: 2px;
  left: 20px;
  width: 0px;
  padding: 3px;
}
.tableSettings .tableSettingsMenu .tableSettingsDeleteBtn {
  height: 18px;
  display: flex;
  width: 100%;
  justify-content: flex-start;
  gap: 5px;
  align-items: center;
  cursor: pointer;
  padding-left: 2px;
}
.tableSettings .tableSettingsMenu .tableSettingsDeleteBtn:hover {
  background-color: #f9ecd5;
}
.tableSettings .tableSettingsMenu .tableSettingsDeleteBtn:hover svg {
  -webkit-animation: iconWiggle 1s linear 1;
          animation: iconWiggle 1s linear 1;
}
.tableSettings .tableSettingsMenu .tableSettingsEditBtn {
  width: 100%;
  height: 18px;
  display: flex;
  justify-content: start;
  gap: 5px;
  align-items: center;
  padding-left: 2px;
  cursor: pointer;
}
.tableSettings .tableSettingsMenu .tableSettingsEditBtn:hover {
  background-color: #f9ecd5;
}
.tableSettings .tableSettingsMenu .tableSettingsEditBtn:hover svg {
  -webkit-animation: iconWiggle 1s linear 1;
          animation: iconWiggle 1s linear 1;
}

@-webkit-keyframes iconWiggle {
  0% {
    transform: rotate(20deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0);
  }
}

@keyframes iconWiggle {
  0% {
    transform: rotate(20deg);
  }
  25% {
    transform: rotate(-20deg);
  }
  50% {
    transform: rotate(20deg);
  }
  75% {
    transform: rotate(-20deg);
  }
  100% {
    transform: rotate(0);
  }
}/*# sourceMappingURL=rows.css.map */